html{
	font-family: Arial;
}
#game{
	width: 600px;
	height: 400px;
	background-color: black;
	border:4px solid black;
}
.direita{
	float:right;
}

/*Start Screen Style*/
#start_screen{
	padding-top:120px;
}
#start_screen .btn{
	text-align: center;
}
#start_screen .btn a{
	color:white;
}
#start_screen .titulo{
	text-align: center;
	color:white;
}

/*Home Screen Style*/
#home_screen .topo{
	height: 30px;
	padding:2px;
	line-height: 34px;
	color:white;
}
#home_screen .corpo{
	height: 366px;
	background-color: white;
	width:100%;
}

/*Aposta Screen Style*/
#aposta_screen .topo{
	height: 30px;
	padding:2px;
	line-height: 34px;
	color:white;
}
#aposta_screen .corpo{
	height: 366px;
	background-color: white;
	width:100%;
}
#aposta_screen .corpo .horse{
	width: 20%;
	padding:2.5%;
	float:left;
	text-align: center;
}
#aposta_screen .corpo img{
	width: 100%;
	height: auto;
}
/*Corrida Screen Style*/
#race_screen .topo{
	height: 30px;
	padding:2px;
	line-height: 34px;
	color:white;
}
#race_screen .corpo{
	height: 366px;
	background-color: white;
	width:100%;
}
.pista{
	width: 95%;
	margin-left:2.5%;
	background-color: blue;
	height: auto;
	padding-top:10px;
	padding-bottom:3px;
}
.pista .cavalo{
	width: 30px;
	height: 30px;
	margin-bottom:10px;
	color:white;
	text-align: center;
	line-height: 20px;
	/*margin-left:calc(100% - 20px);*/
	background: url("horse.png");
	background-size: cover;
}
.cavalo-verde{
	filter: hue-rotate(70deg);
}
.cavalo-azul{
	filter: hue-rotate(180deg);
}
.cavalo-pink{
	filter: hue-rotate(300deg);
}
.cavalo-laranja{
	filter: hue-rotate(350deg);
}
.winner a{
	color:white !important;
}
.cavalo_ganhador{
	color:white;
	text-align: center;
}

